fastapi
uvicorn
pydantic
openai
keyring
platformdirs
pyjwt
python-dotenv
scrubadub
python-multipart
presidio-analyzer
presidio-anonymizer
pyyaml
philter
spacy
en-core-web-sm
pyannote.audio
torchaudio
passlib[bcrypt]
llama-cpp-python
requests-mock

