fastapi
uvicorn
pydantic
numpy<2
openai
keyring
platformdirs
pyjwt
python-dotenv
scrubadub
python-multipart
presidio-analyzer
presidio-anonymizer
pyyaml
philter
spacy
pyannote.audio
torchaudio
passlib[bcrypt]
llama-cpp-python
requests-mock

